.loader-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300vw;
  height: 150vw;
  background-color: transparent;
  user-select: none;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.loader {
  position: absolute;
  bottom: -290vw;
  left: 50%;
  transform: translateX(-50%);
  width: 300vw;
  height: 300vw;
  border-radius: 50%;
  background-color: #000;
  animation: loader-rotate 6s linear infinite;
  z-index: 0;
}

@keyframes loader-rotate {
  0% {
    transform: translateX(-50%) rotate(90deg);
    box-shadow:
      0 10px 20px 0 #fff,
      0 20px 30px 0 #ad5fff,
      0 60px 60px 0 #471eec;
  }

  50% {
    transform: translateX(-50%) rotate(270deg);
    box-shadow:
      0 10px 20px 0 #fff,
      0 20px 10px 0 #d60a47,
      0 40px 60px 0 #311e80;
  }

  100% {
    transform: translateX(-50%) rotate(450deg);
    box-shadow:
      0 10px 20px 0 #fff,
      0 20px 30px 0 #ad5fff,
      0 60px 60px 0 #471eec;
  }
}

/* Aceternity Spotlight Animation */
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

.animate-spotlight {
  animation: spotlight 2s ease .75s 1 forwards;
}